   <div class="container">
        <div class="row">
             <footer>
               <hr>
                <nav class="navbar">
                    <div class="container center">
                        <ul class="nav">
                            <li class="navbar-text"><a href="about.html">About</a></li>
                            <li class="navbar-text"><a href="fag.html">FAQs</a></li>
                            <li class="navbar-text">
                               <a href="http://www.facebook.com">
                                 <img src="images/facebook.jpg">
                               </a>
                            </li>
                            <li class="navbar-text">
                              <a href="http://www.twitter.com">
                                <img src="images/twitter.png"/>
                              </a>
                            </li>
                             <li class="navbar-text">
                              <a href="http://www.tumblr.com">
                                <img src="images/tumblr.jpg"/>
                              </a>
                            </li>
                            <li class="navbar-text">
                              <a href="http://www.pinterest.com">
                                <img src="images/pinterest.png"/>
                              </a>
                            </li>
                            <li class="navbar-text"><a href="index.html">Home</a></li>
                            <li class="navbar-text"><a href="email.html">Email</a></li>
                        </ul>
                    </div>
                     <div class="container nav">
                        <p>
                           <a href="#">&copy; 2016, All Right Reserved</a><span class="term">|</span><a href="termprivacy.html">Terms of Use & Privacy Policy</a></p>
                    </div>
                </nav>
              </footer>
        </div>
      </div>